<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="card-deck">
    <div class="card" style="width: 300px;">
        <img src="./assets/img/ad marketplace.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">Transparent Ad Marketplace</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey" mat-button (click)="openDialog()">+ Connect</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="./assets/img/calltrackingmetrics.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">CallTrackingMetrics</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="./assets/img/campaign manager.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">DoubleClick</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="./assets/img/facebook.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">Facebook</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card" style="width: 300px;">
        <img src="./assets/img/google analytics.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">Google Analytics</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="./assets/img/instagram.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">Instagram</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="./assets/img/linkedin.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">LinkedIn</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="./assets/img/saleforce.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">Saleforce</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card" style="width: 300px;">
        <img src="./assets/img/tiktok.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">Tik Tok Ads</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="./assets/img/tumblr.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">Tumblr</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="./assets/img/twitter.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">Twitter</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <img src="./assets/img/youtube.png" class="card-img-top" alt="...">
        <div class="card-body text-secondary text-center">
            <h1 class="card-title">Youtube</h1>
            <div class="column">
                <button class="w3-button w3-block w3-blue-grey">+ Connect</button>
            </div>
        </div>
    </div>
</div>